:root {
    --c-screen: #f9f9f9ff;
    --c-container: #ffffffff;
    --c-header: #f9f9f988;
    --c-border: rgba(0, 0, 0, .12);
    --c-strong: rgba(0, 0, 0, 0.87);
    --c-normal: #4c4e4dff;
    --c-secondary: rgba(0, 0, 0, 0.6);
    --c-scrollbar: #c8c8c8ff;
    --c-primary: #1a73e8ff;
    --c-success: #81c995ff;
    --c-warning: #fdd663ff;
    --c-danger: #ee675cff;
}

html.dark {
    --c-screen: #121212;
    --c-container: #2f3133ff;
    --c-header: #121212ff;
    --c-border: hsla(0, 0%, 100%, .12);
    --c-strong: #ffffffff;
    --c-normal: #ddddddff;
    --c-secondary: rgba(255, 255, 255, 0.7);
    --c-scrollbar: #3e3f4baa;
    --c-primary: #214e8dff;
    --c-success: #4c7b5aff;
    --c-warning: #a28023ff;
    --c-danger: #864138ff;
}

* {
    box-sizing: border-box;
}

html, body {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Lato, Roboto, PingFang SC, Microsoft YaHei, sans-serif !important;
}

.comment article {
    font-size: 14px !important;
}

.markdown-editor #md-editor-v3-preview {
    font-size: 14px !important;
}

.Vue-Toastification__toast--success {
    background-color: var(--c-success) !important;
}

.Vue-Toastification__toast--info {
    background-color: var(--c-primary) !important;
}

.Vue-Toastification__toast--error {
    background-color: var(--c-danger) !important;
}

.Vue-Toastification__toast--warning {
    background-color: var(--c-warning) !important;
}

.Vue-Toastification__progress-bar {
    background-color: var(--c-scrollbar) !important;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background: var(--c-screen);
}

::-webkit-scrollbar:horizontal {
    height: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--c-scrollbar);
}

::selection {
    background-color: #42A5F5;
    color: #fff;
}

::-moz-selection {
    background-color: #42A5F5;
    color: #fff;
}

.v-tab__slider {
    background-color: var(--c-primary) !important;
}

.v-field--error:not(.v-field--disabled) .v-label.v-field-label {
    color: var(--c-danger) !important;
}

.v-input--error:not(.v-input--disabled) .v-input__details .v-messages {
    color: var(--c-danger) !important;
}

.v-field--error:not(.v-field--disabled) .v-field__outline {
    color: var(--c-danger) !important;
}
